* {
  font-family: "Poppins";
}
.main-container {
  padding: 20px;
  width: 82%;
  max-width: 1400px;
  margin-inline: auto;
}

.TP-Heading {
  color: #2097f3;
  font-weight: 500;
  font-size: 25px;
  margin-top: 45px;
}
.about-ocean {
  color: #797979;
  font-size: 16px;
  line-height: 29px;
  margin-top: 10px;
}
.inner-container {
  display: flex;
  /* gap: 67px; */
  margin-top: -15px;
  max-width: 1500px;
  margin: auto;
}
.interview-questions {
  color: #2097f3;
  font-size: 25px;
  font-weight: 500;
}
.form-inputs {
  position: relative;
  margin-top: 18px;
}
.form-inputs .form-control {
  height: 45px;
}

.form-inputs .form-control:focus {
  box-shadow: none;
  border: 1px solid #2097f3;
}

.form-inputs i {
  position: absolute;
  right: 10px;
  top: 15px;
}
.question-btn {
  background-color: #2097f3;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 11px;
  font-size: 15px;
}

.questions-main-button {
  margin-top: 21px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  max-width: 60%;
}
.question-cls {
  color: #2097f3;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 25px;
}
.answer-cls {
  color: #797979;
  font-size: 15px;
  line-height: 26px;
}
@media (max-width:1180){
.img-technical {
  margin-top: 7px;
}}
.inner-main-div {
  margin-top: 31px;
}
.questions-answers {
  max-width: 70%;
}
@media (max-width: 900px) {
  .about-ocean {
    font-size: 15px;
    line-height: 29px;
  }
  .ocean-interview-about {
    font-size: 15px;
    line-height: 29px;
  }
}

/* FAQ */

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
body {
  background-color: #f5f6f7;
}
/* .faq .faq-list {
  /* padding: 0 100px; */
 */

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

/* .faq .faq-list li+li {
    margin-top: 15px;
  } */

.faq .faq-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  /* padding: 0 30px; */
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: #2097f3;
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #e82c88;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 8px 0 0 18px;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #2097f3;
  transition: 0.3s;
}

.faq .faq-list a.collapsed:hover {
  color: #e82c88;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}
.faq-list {
  margin-top: 30px;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

/* media */
@media (max-width: 1180px) {
  .inner-container {
    flex-wrap: wrap;
    gap: 0px;
  }
  .img-div {
    margin: auto;
  }
}
@media (max-width: 700px) {
  .img-technical {
    height: 361px;
    width: 474px;
    margin-top: -41px;
  }
  .questions-main-button {
    max-width: 99%;
  }
  .questions-answers {
    max-width: 99%;
  }
  .main-container {
    width: 97%;
  }
}
@media (max-width: 550px) {
  .img-technical {
    height: 300px;
    width: 400px;
  }
  .faq .faq-list a {
    font-size: 15px;
  }
  .answer-cls {
    font-size: 14px;
  }
}

@media (max-width: 550px) {
  .about-ocean {
    font-size: 14px;
    line-height: 27px;
  }
  .ocean-interview-about {
    font-size: 14px;
    line-height: 27px;
  }
}
@media (max-width: 450px) {
  .img-technical {
    height: 250px;
    width: 300px;
  }
  .main-container {
    width: 100%;
    padding: 11px;
  }
  .faq .faq-list li {
    padding: 10px;
  }
  .questions-main-button {
    gap: 12px;
  }
}
@media (max-width: 480px) {
  
  .TP-Heading {
    font-size: 25px;
    margin-top: 8px;
  }
}
@media (max-width: 400px) {
  .about-ocean {
    font-size: 15px;
  }
  .TP-Heading {
    font-size: 25px;
    margin-top: 8px;
  }
  .placed-students-head {
    font-size: 25px;
  }
  .inner-interview-questions {
    font-size: 25px;
    margin-top: -59px;
  }
  .ocean-interview-abou {
    font-size: 15px;
    line-height: 35px;
  }
  .interview-questions {
    font-size: 22px;
  }
}
