.imag-class-css {
  width: 71%;
  object-fit: contain;
}
.main-container-interview-questions {
  padding: 20px;
  width: 80%;
  max-width: 1400px;
  margin-inline: auto;
}
.question-answer h4 {
  margin-bottom: 8px;
}
.question-answer p {
  margin-bottom: 16px;
}
.img-class-language-logo {
  width: 220px;
  height: 220px;
}
@media (max-width: 800px) {
  .main-container-interview-questions {
    padding: 10px;
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
  }
}
@media (max-width: 500px) {
  pre {
    width: 325px;
  }
}
