You can add global styles to this file, and also import other style files
/* *{
  margin : 0px;
  padding: 0px;
} */

.main-container-interview-questions {
  max-width: 1200px;
  width: 75%;
  margin: auto;
}

.h1{
  color:#2097f3 !important;
}

.code-block {
  background-color:#E3E3E3;
  color: #100F0F;
  padding: 16px;
  border-radius: 8px;
  font-family: monospace;
  white-space: pre; /* preserves line breaks and spacing */
  /* font-size: 14px; */
}



.main-container-interview-questions  {
  color: #797979;
  line-height: 25px;
  margin: 15px 0 10px 0;
}

pre {
  padding: 15px;
  background-color: #0000001c;
  color: #100f0f;
  display: inline-block;
  border-radius: 5px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: now;
  width: 600px;
  font-size: 14px;
}

h4 {
  color: #2097f3;
  font-weight: 500;
  font-size: 24px;
}

 /* p { */
  /* color: #797979; */
  /* line-height: 25px; */
  /* margin:15px 0 10px 0 */
/* }  */

/* li {
  color: #797979;
} */

ul {
   margin-top: 10px;
  margin-bottom: 30px;
}
h6 {
  color: #2097f3;
}

.main-heading-interview-questions-answers {
  display: flex;
  gap: 17px;
  align-items: center;
  margin-top: 24px;
  justify-content: center;
  margin-bottom: 12px;
}

.main-heading-interview-questions-answers p{
   margin-bottom: 16px; 
}

.main-heading-q-a {
  text-align: center;
  /* color: #2097f3; */
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 16px;
}

.img-class-language-logo {
  height: 275px;
  width: 275px;
  object-fit: contain;
}

@media (max-width: 900px) {
  .main-heading-interview-questions-answers {
    flex-direction: column-reverse;
  }
}

@media (max-width: 800px) {
  .main-container-interview-questions {
    width: 90%;
  }
  pre {
    overflow-x: scroll;
  }
}

@media (max-width: 600px) {
  pre {
    width: 450px;
  }
}

@media (max-width: 500px) {
  pre {
    width: 350px;
  }
}

@media (max-width: 350px) {
  .img-class-language-logo {
    height: 265px;
    width: 240px;
  }

  pre {
    width: 300px;
  }
}
